.ui-object-array{
	/* border: 1px solid var(--white-5); */
	border-radius: 1px;
	/* border-bottom-width: 0; */
	/* padding-right: 24px; */
	margin-top: 7px;
	padding-bottom: 24px;
}
.empty-array{
	margin-top: 7px;
}
.empty-array > div,
.ui-object-array > div{
	padding: 8px;
	border: 1px solid var(--white-5);
	border-bottom-width: 0;
}
.empty-array > div:last-of-type,
.ui-object-array > div:last-of-type{
	border-bottom-width: 1px;
}
.ui-object > div > div > .ui-object{
	padding-left: var(--padx2);
	margin-top: 7px;
}
.ui-object > div > div > .empty-array{
	color: var(--white-6);
	padding-bottom: 24px;
}
.ui-object > div > div > .empty-array,
.ui-object > div > div > .ui-object-array{
	margin-left: var(--padx2);
}
.ui-object-wrapper{
	position: relative;
	border: 1px solid var(--white-5);
	border-radius: 1px;
	border-bottom-width: 0;
	padding-right: 24px;
}
.ui-object-array-wrapper{
	border: 1px solid var(--white-5);
	border-radius: 1px;
	padding-right: 24px;
	/* padding-bottom: 24px; */
	border-bottom: 0;
}

.ui-object.monospace{
	padding-bottom: 24px;
}
.ui-object-data-wrapper > div:first-of-type{
	margin-right: 12px;
	border-right: 1px solid var(--white-5);
}
.ui-object.monospace > div:last-of-type{
	/* padding-bottom: 14px; */
	border-bottom: 1px solid var(--white-5);
}
.ui-object-data-wrapper{
	display: flex;
	align-items: center;
}
.ui-object-wrapper .key-name{
	display: inline-block;
	width: 144px;
	word-break: break-all;
}
.ui-object-object-wrapper > .key-name,
.ui-object-array-wrapper > .key-name{
	width: auto;
	/* padding: 0 0 0 14px; */
}
.ui-object-wrapper label{
	color: var(--white-7);
	display: inline-block;
	/* background-color: #3d3d3d; */
	/* border-radius: 8px; */
	/* box-shadow: 0px 1px 1px #0000000f; */
	/* overflow: hidden; */
	position: relative;
	padding: 8px;
}
.ui-object-wrapper label span{
	color: var(--white-6);
}
.ui-object-wrapper button.key-name{
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
	font: inherit;
	display: flex;
	align-items: center;
}
.ui-object-wrapper button.key-name label{
	padding-left: 4px;
	cursor: pointer;
}
.ui-object-wrapper button.key-name img{
	height: 20px;
	position: relative;
	top: 1px;
}
