.button{
  align-items: center;
  background-color: var(--azure-radiance);
  border-width: 0;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #00000014, 0px 2px 1px #0000000f, 0px 1px 3px #0000001a;
  display: flex;
  cursor: pointer;
  position: relative;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-style: normal;
  font-size: var(--font-size-m);
  line-height: 24px;
  min-height: 24px;
  height: 40px;
  padding: 0 12px;
}
.button:hover{
  background-color: var(--dodger-blue);
}
.button:active{
  box-shadow: 0;
  top: 1px;
}
.button.large{
  height: 52px;
  padding: 0 16px;
  font-size: var(--font-size-l);
}
.button.small{
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  min-height: 20px;
  height: 28px;
  padding: 0 8px;
}
.button.secondary{
  background-color: var(--white);
  box-shadow: 0px 1px 1px #0000000f;
  display: flex;
  color: var(--eerie-black);
}
.button.borderless{
  background: transparent;
  color: var(--azure-radiance);
}
.button.disabled{
  background-color: var(--white-6);
  color: var(--black);
}

