.ui-sidebar-entry{
    display: block;
    text-decoration: none;
    margin-bottom: 4px;
}
.ui-sidebar-entry:hover,
.ui-sidebar-entry.urn-exact-active-link,
.side-bar-group .ui-sidebar-entry.urn-active-link{
    background-color: var(--dodger-blue-2);
    border-radius: 8px;
    color: var(--white);
}

.ui-sidebar-entry:hover .inter-normal-white-16px,
.ui-sidebar-entry.urn-exact-active-link .inter-normal-white-16px,
.side-bar-group .ui-sidebar-entry.urn-active-link .inter-normal-white-16px{
    color: var(--white);
}

.x1-one-line {
    align-items: center;
    display: flex;
    width: 100%;
}
.x-base1-one-lin-left-label-icon {
    align-items: center;
    display: flex;
    height: 44px;
    padding: 0 15px;
}
.icon {
    height: 18px;
    width: 18px;
}
.ui-sidebar-entry.urn-exact-active-link .icon,
.ui-sidebar-entry:hover .icon {
     filter:
         invert(43%) sepia(85%) saturate(2804%) hue-rotate(192deg)
         brightness(102%) contrast(101%);
     -webkit-filter:
         invert(43%) sepia(85%) saturate(2804%) hue-rotate(192deg)
         brightness(102%) contrast(101%);
}
.label-3 {
    letter-spacing: 0;
    line-height: 24px;
    min-height: 24px;
    white-space: nowrap;
}
.label-with-margin {
    margin-left: 15px;
}
.counter {
    align-items: flex-start;
    background-color: var(--dodger-blue);
    border-radius: 96px;
    display: flex;
    height: 16px;
    margin-left: 39px;
    padding: 0 4px;
}
.x0 {
    letter-spacing: 0.4px;
    line-height: 16px;
    min-height: 16px;
    text-align: center;
    white-space: nowrap;
}


