body{
  background-color: var(--licorice);
  color: var(--white-3);
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 500;
}
.main-container{
  background-color: var(--licorice);
  display: flex;
  overflow: hidden;
}
.main-flex{
  flex: 1 1 auto;
}
.ui-section-sidebar{
  max-width: 300px;
}
