body{
  height: 100%;
  /* background-color: var(--licorice); */
  background-color: var(--eerie-black);
  color: var(--white-3);
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 500;
}
.main-container{
  /* background-color: var(--licorice); */
  padding-left: 300px;
}

/* SIDEBAR */

.ui-section-sidebar{
  background-color: var(--licorice);
  width: 300px;
  padding: var(--padx1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: var(--border-2px);
}

/* SIDEBAR HEADER */

.ui-sidebar-header {
    align-items: center;
    display: flex;
    margin-top: 8px;
    padding-bottom: 8px;
}
.logo {
    align-items: flex-start;
    background-color: var(--licorice);
    border-radius: 8px;
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 15.3px 15.3px;
}
.group-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    min-height: 48px;
}
.text-icon {
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 28px;
    overflow: hidden;
}
.text-2 {
    letter-spacing: 0;
    line-height: 28px;
    min-height: 28px;
    white-space: nowrap;
}
.right-icon {
    height: 24px;
    margin-left: 8px;
    width: 24px;
}
.palo-alto-ca {
    letter-spacing: 0;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
}

/* SIDEBAR BODY */

.ui-sidebar-body {
	display: flex;
	flex-direction: column;
	padding-top: 34px;
  overflow: auto;
}
.side-bar-group{
	margin-top: 24px;
	width: 100%;
}
.side-bar-group ul{
	margin-top: 8px;
}

/* SIDEBAR FOOTER */

.x1-one-line-7 {
	align-items: center;
	display: flex;
	height: 44px;
	padding: 0 15px;
	background-color: transparent;
	border: 0;
  width: 100%;
}
.icon-11 {
	height: 18px;
	margin-bottom: 0.01px;
	width: 18px;
}
.label-10 {
	letter-spacing: 0;
	line-height: 24px;
	margin-left: 15px;
	min-height: 24px;
	min-width: 61px;
	white-space: nowrap;
}
.side-bar-group-footer{
	margin-top: auto;
}

/* HEADER */

.overlap-group4 {
  align-items: center;
  /* background-color: var(--licorice); */
  min-height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 var(--padx4) 0 var(--padx2);
  /* border-bottom: 1px solid var(--black); */
}
.flex-row-2 {
  align-items: center;
  /* display: flex; */
  width: 100%;
  position: relative;
}
.ui-header-right{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.ui-header-searchbar{
  /* flex: 1 0 auto; */
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 160px 0 0;
}
.search-bar {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
 .left {
  align-items: center;
  height: 40px;
  width: 100%;
  display: flex;
}
.icon-12 {
  height: 14px;
  margin-bottom: 0.79px;
  margin-right: var(--padx1);
  width: 14px;
}
.text-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 11px;
  min-height: 24px;
  white-space: nowrap;
}
.frame-71 {
  align-items: center;
  display: flex;
  margin-left: var(--padx4);
}
.text-icon-1 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
.left-icon {
  height: 24px;
  width: 24px;
}
.text-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.overlap-group {
  height: 22px;
  margin-bottom: 2px;
  margin-left: 28px;
  position: relative;
  width: 24px;
}
 .icon-13 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}
.counter-1 {
  align-items: flex-start;
  background-color: var(--coral-red);
  border-radius: 96px;
  display: flex;
  height: 16px;
  left: 9px;
  min-width: 15px;
  padding: 0 4px;
  position: absolute;
  top: 0;
}
.x0-1 {
  letter-spacing: 0.4px;
  line-height: 16px;
  min-height: 16px;
  min-width: 7px;
  text-align: center;
  white-space: nowrap;
}
.icon-14 {
  height: 20px;
  margin-left: 27px;
  width: 17px;
}
.frame-7-1 {
  align-items: center;
  display: flex;
  margin-left: 28px;
  min-width: 64px;
}
.avatar {
  align-items: flex-end;
  border-radius: 256px;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
}
.status {
  background-color: var(--dodger-blue);
  border-radius: 100px;
  height: 12px;
  margin-bottom: -2px;
  width: 12px;
}
.arrowdropdown-1 {
  height: 24px;
  margin-left: 8px;
  width: 24px;
}
.search-input,
.search-input:active{
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--white);
  display: block;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}

/* _SLUG */

.flex-row-3 {
  align-items: center;
  display: flex;
  height: 48px;
  margin-top: 30px;
}
.ui-flex-row-3-el {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}
.ui-flex-row-3-el:last-child {
  flex-direction: row-reverse;
}
.ui-flex-row-3-el:last-child button {
  margin-left: var(--padx2);
}
.ui-main-nuxt{
  padding: 0 var(--padx4) var(--padx4) var(--padx2);
}
.today {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}
.surname {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 8px;
  min-height: 28px;
  white-space: nowrap;
}

/* GROUP */

.ui-group{
  /* background-color: var(--eerie-black); */
  background-color: var(--licorice);
  border-radius: 8px;
  box-shadow: 0px 1px 1px #00000029, 0px 2px 1px #0000001f, 0px 1px 3px #00000033;
  margin-top: 24px;
  padding: var(--padx1);
}

/* ALL */
.ui-all-header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ui-all-header-sort .button.secondary{
  display: flex;
  align-items: center;
  background-color: var(--white-5);
}
.ui-all-header .button.secondary:not(.disabled):active{
  background-color: var(--white-5);
}
.ui-all-header-el{
  position: relative;
}
.ui-all-header-el:first-child{
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid var(--white-5);
  border-radius: 8px;
  padding: 0 8px;
  flex: 1 0 auto;
  margin-right: var(--padx1);
}
.ui-all-header-el:last-child{
  margin-left: var(--padx1);
}
.ui-all-header-search.focus{
  border: 1px solid var(--white-2);
}
.ui-all-header-el:first-child *{
  align-items: center;
}
.ui-all-header-info{
  width: 100%;
  margin-top: var(--padx2);
  color: var(--white-2);
  font-size: var(--font-size-s);
  display: flex;
  align-items: center;
}
.ui-all-header-info .info-item{
  display: flex;
  align-items: center;
  margin-right: var(--padx2);
}
.ui-all-header-info .info-item.right{
  margin-left: auto;
  margin-right: 0;
}
.ui-all-header-info .info-item img{
  height: 18px;
  margin-right: 8px;
}
.ui-all-header-info .info-item .monospace{
  margin-left: 8px;
}
.ui-all-body{
  margin-top: var(--padx1);
}
.icon-sort{
  width: 20px;
  margin-right: 4px;
}
.ui-sort-list{
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  font-size: var(--font-size-s);
  padding: 14px;
  background-color: rgb(41 41 41);
  border-radius: 8px;
  min-width: 180px;
  white-space: nowrap;
  opacity: 0;
  /* visibility: hidden; */
  z-index: -1;
  text-align: left;
}
.ui-sort-list.visible{
  opacity: 1;
  z-index: 99;
  visibility: visible;
}
.ui-sort-list:focus{
  /* outline: 2px solid #fff; */
}
.ui-sort-list .sort-item{
  width: 100%;
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 8px;
}
.ui-sort-list .sort-item .ui-radio-button{
  zoom: .8;
}
.sort-label{
  display: block;
  margin-bottom: 14px;
}
/* ALL TABLE */

.ui-all-table{
  width: 100%;
}
.ui-all-table th.check{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 36px;
  padding: var(--padx05) 0 var(--padx05) var(--padx05);
}
.ui-all-table td.check{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 31;
  padding: var(--padx05) 0 var(--padx05) var(--padx05);
  vertical-align: middle;
}
.ui-all-table th,
.ui-all-table td{
  z-index: 1;
  text-align: left;
  /* padding: var(--padx05); */
  white-space: nowrap;
  border-bottom: 1px solid var(--white-5);
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: var(--white-4);
}
.ui-all-table td a{
  padding: 4px 0;
  display: block;
  height: 100%;
  width: 100%;
}
.ui-all-table tr:last-child td{
  border-bottom: 0;
}
.ui-all-table tbody tr:hover{
  background-color: var(--azure-radiance-2);
}
.ui-all-table tbody tr:hover td{
  /* border-color: var(--black); */
}
.ui-all-table tr:hover a{
  color: var(--white);
  /* color: var(--azure-radiance); */
}
.ui-all-table th.secondary,
.ui-all-table th.secondary a,
.ui-all-table td.secondary,
.ui-all-table td.secondary a{
  color: var(--white-2);
}
.ui-all-table th.right,
.ui-all-table td.right{
  text-align: right;
}

/* BUTTON GROUP */

.ui-button-group{
  display: flex;
}
.ui-button-group .button{
  border-radius: 0;
  border-left: 1px solid var(--black);
  padding: 8px var(--padx1);
}
.ui-button-group .button.small{
  padding: 8px var(--padx1);
}
.ui-button-group .button:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 0;
}
.ui-button-group .button:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* atom/_slug */

.button.back_button{
  display: flex;
  align-items: center;
  color: var(--white-5);
}
.button.back_button img{
  height: 18px;
  margin-right: 8px;
}
.flex-row-4 {
  margin-top: var(--padx2);
  align-items: center;
  display: flex;
}
.flex-row-4 h2{
  margin-left: auto;
  color: var(--white-2);
}
.flex-row-3 .ui-atom-name{
  font-size: var(--font-size-m);
  color: var(--white-2);
  /* vertical-align: baseline; */
  display: inline-block;
  margin-left: 8px;
  position: relative;
  top: 5px;
}

/* Property */
.ui-property-wrapper{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--padx1));
}
.ui-property{
  width: 45%;
  flex: 1 1 auto;
  /* background-color: var(--licorice); */
  /* border-radius: 8px; */
  /* box-shadow: 0px 1px 1px #00000029, 0px 2px 1px #0000001f, 0px 1px 3px #00000033; */
  margin: 24px var(--padx1) 0;
  /* padding: var(--padx1); */
}
.ui-property label{
  margin-bottom: 14px;
  display: block;
}
.ui-property input[type="text"],
.ui-property input[type="email"],
.ui-property input[type="password"],
.ui-property input[type="number"],
.ui-property textarea{
  -webkit-appearance: none;
}
.ui-property input,
.ui-property select,
.ui-property textarea{
  border-radius: 8px;
  background-color: var(--licorice);
  outline: 0;
  color: var(--white);
  display: block;
  padding: 12px 14px;
  width: 100%;
  font: inherit;
  border: 1px solid #2d2c2c;
}
.ui-property select{
  padding-right: 28px;
}
.ui-property textarea{
  height: 170px;
  resize: vertical;
}
/* ::-webkit-datetime-edit { padding: 1em; } */
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
/* ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; } */
/* ::-webkit-datetime-edit-month-field { color: blue; } */
/* ::-webkit-datetime-edit-day-field { color: green; } */
/* ::-webkit-datetime-edit-year-field { color: purple; } */
/* ::-webkit-inner-spin-button { display: none; } */
/* ::-webkit-calendar-picker-indicator { color: orange; } */

.ui-property-binary{
  display: flex;
}
.ui-property-binary .binary-el{
  display: flex;
  margin-right: 28px;
  align-items: center;
}
.ui-property-binary label{
  width: auto;
  display: inline-block;
  margin-bottom: 0;
}
.ui-property-binary input{
  display: none;
}

.ui-PropertySET ul{
  margin-top: 14px;
}
.ui-property-atom-li,
.ui-PropertyATOM li,
.ui-PropertyATOMARRAY li,
.ui-PropertySET li{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--licorice);
  margin-bottom: 4px;
  border-radius: 8px;
  padding: 10px 8px;
}
.ui-PropertySET label{
  display: inline-block;
  margin-bottom: 0;
}
.ui-set-add-wrapper{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 8px;
}
.ui-set-add-wrapper input{
  margin-right: 14px;
}
.ui-single-footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px var(--padx1);
}
.ui-single-footer .left button{
  margin-right: var(--padx1);
}

body.urn-single-page .ui-main-nuxt{
  max-width: 1080px;
  margin: 0 auto;
}
.ui-PropertyReadOnly{
	color: var(--white-2);
}

.urn-full-width{
  width: 100%;
}
.urn-full-width.ui-property input[type=text],
.urn-full-width.ui-property input[type="email"],
.urn-full-width.ui-property input[type="password"],
.urn-full-width.ui-property input[type="number"],
.urn-full-width.ui-property textarea,
.urn-full-width.ui-property select{
  width: calc(50% - var(--padx1));
}

/* MODAL ATOM */

.urn-modal-atom{
  position: fixed;
  background-color: var(--licorice);
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  z-index: 100;
  box-shadow: 0px 1px 1px #00000029, 0px 2px 1px #0000001f, 0px 1px 3px #00000033;
  padding: var(--padx2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-atom-body h2{
  margin-bottom: var(--padx2);
}
.modal-atom-list li{
  width: 100%;
  border-radius: 8px;
  padding: var(--padx2);
  background-color: var(--white-5);
  margin-bottom: var(--padx1);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 24px;
}
.modal-atom-list li:hover{
  background-color: var(--azure-radiance-2);
}
.modal-atom-list li.selected{
  background-color: var(--azure-radiance);
}
.modal-atom-list li .check_icon{
  margin-right: var(--padx1);
}
.modal-atom-list li .check_icon img{
  height: 24px;
  display: inline-block;
}
.modal-atom-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

