body{
  height: 100%;
  /* background-color: var(--licorice); */
  background-color: var(--eerie-black);
  color: var(--white-3);
  font-family: var(--font-family-inter);
  font-style: normal;
  font-weight: 500;
}
.main-container{
  /* background-color: var(--licorice); */
  padding-left: 300px;
}

/* SIDEBAR */

.ui-section-sidebar{
  background-color: var(--licorice);
  width: 300px;
  padding: var(--padx1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  border-right: var(--border-2px);
}

/* SIDEBAR HEADER */

.ui-sidebar-header {
    align-items: center;
    display: flex;
    margin-top: 8px;
    padding-bottom: 8px;
}
.logo {
    align-items: flex-start;
    background-color: var(--licorice);
    border-radius: 8px;
    display: flex;
    height: 56px;
    min-width: 56px;
    padding: 15.3px 15.3px;
}
.group-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    min-height: 48px;
}
.text-icon {
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 28px;
    overflow: hidden;
}
.text-2 {
    letter-spacing: 0;
    line-height: 28px;
    min-height: 28px;
    white-space: nowrap;
}
.right-icon {
    height: 24px;
    margin-left: 8px;
    width: 24px;
}
.palo-alto-ca {
    letter-spacing: 0;
    line-height: 20px;
    min-height: 20px;
    white-space: nowrap;
}

/* SIDEBAR BODY */

.ui-sidebar-body {
	display: flex;
	flex-direction: column;
	padding-top: 34px;
  overflow: auto;
}
.side-bar-group{
	margin-top: 24px;
	width: 100%;
}
.side-bar-group ul{
	margin-top: 8px;
}

/* SIDEBAR FOOTER */

.x1-one-line-7 {
	align-items: center;
	display: flex;
	height: 44px;
	padding: 0 15px;
	background-color: transparent;
	border: 0;
  width: 100%;
}
.icon-11 {
	height: 18px;
	margin-bottom: 0.01px;
	width: 18px;
}
.label-10 {
	letter-spacing: 0;
	line-height: 24px;
	margin-left: 15px;
	min-height: 24px;
	min-width: 61px;
	white-space: nowrap;
}
.side-bar-group-footer{
	margin-top: auto;
}

/* HEADER */

.overlap-group4 {
  align-items: center;
  /* background-color: var(--licorice); */
  min-height: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 var(--padx4) 0 var(--padx2);
  border-bottom: 1px solid var(--black);
}
.flex-row-2 {
  align-items: center;
  display: flex;
  width: 100%;
}
.ui-header-searchbar{
  flex: 1 0 auto;
}
.search-bar {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
 .left {
  align-items: center;
  height: 40px;
  width: 100%;
  display: flex;
}
.icon-12 {
  height: 14px;
  margin-bottom: 0.79px;
  margin-right: var(--padx1);
  width: 14px;
}
.text-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 11px;
  min-height: 24px;
  white-space: nowrap;
}
.frame-71 {
  align-items: center;
  display: flex;
  margin-left: var(--padx4);
}
.text-icon-1 {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
.left-icon {
  height: 24px;
  width: 24px;
}
.text-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}
.overlap-group {
  height: 22px;
  margin-bottom: 2px;
  margin-left: 28px;
  position: relative;
  width: 24px;
}
 .icon-13 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 15px;
}
.counter-1 {
  align-items: flex-start;
  background-color: var(--coral-red);
  border-radius: 96px;
  display: flex;
  height: 16px;
  left: 9px;
  min-width: 15px;
  padding: 0 4px;
  position: absolute;
  top: 0;
}
.x0-1 {
  letter-spacing: 0.4px;
  line-height: 16px;
  min-height: 16px;
  min-width: 7px;
  text-align: center;
  white-space: nowrap;
}
.icon-14 {
  height: 20px;
  margin-left: 27px;
  width: 17px;
}
.frame-7-1 {
  align-items: center;
  display: flex;
  margin-left: 28px;
  min-width: 64px;
}
.avatar {
  align-items: flex-end;
  border-radius: 256px;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  min-width: 32px;
}
.status {
  background-color: var(--dodger-blue);
  border-radius: 100px;
  height: 12px;
  margin-bottom: -2px;
  width: 12px;
}
.arrowdropdown-1 {
  height: 24px;
  margin-left: 8px;
  width: 24px;
}
.search-input,
.search-input:active{
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--white);
  display: block;
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
}

/* _SLUG */

.flex-row-3 {
  align-items: center;
  display: flex;
  height: 48px;
  margin-top: 40px;
}
.ui-flex-row-3-el {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}
.ui-flex-row-3-el:last-child {
  flex-direction: row-reverse;
}
.ui-flex-row-3-el:last-child button {
  margin-left: var(--padx2);
}
.ui-main-nuxt{
  padding: 0 var(--padx4) 0 var(--padx2);
}
.today {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  white-space: nowrap;
}
.surname {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 8px;
  min-height: 28px;
  white-space: nowrap;
}

/* GROUP */

.ui-group{
  /* background-color: var(--eerie-black); */
  background-color: var(--licorice);
  border-radius: 8px;
  box-shadow: 0px 1px 1px #00000029, 0px 2px 1px #0000001f, 0px 1px 3px #00000033;
  margin-top: 24px;
  padding: var(--padx1);
}

/* ALL */

.ui-all-header-el:first-child{
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border: 1px solid var(--white-5);
  border-radius: 8px;
  padding: 0 8px;
}
.ui-all-header-el:first-child:focus{
  border: 1px solid var(--white-2);
}
.ui-all-header-el:first-child:active{
  border: 1px solid var(--white-2);
}
.ui-all-header-el:first-child *{
  align-items: center;
}
.ui-all-body{
  margin-top: var(--padx2);
}

/* ALL TABLE */

.ui-all-table{
  width: 100%;
}
.ui-all-table th.check{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 36px;
  padding: var(--padx05) 0 var(--padx05) var(--padx05);
}
.ui-all-table td.check{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 31;
  padding: var(--padx05) 0 var(--padx05) var(--padx05);
  vertical-align: middle;
}
.ui-all-table th,
.ui-all-table td{
  z-index: 1;
  text-align: left;
  padding: var(--padx05);
  white-space: nowrap;
  border-bottom: 1px solid var(--white-5);
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: var(--white-4);
}
.ui-all-table td a{
  display: block;
  height: 100%;
  width: 100%;
}
.ui-all-table tr:hover{
  background-color: var(--malachite-4);
}
.ui-all-table tr:hover td{
  /* border-color: var(--black); */
}
.ui-all-table tr:hover a{
  color: var(--white);
  /* color: var(--azure-radiance); */
}
.ui-all-table tr:last-child td{
  border-bottom: 0;
}
.ui-all-table th.secondary,
.ui-all-table th.secondary a,
.ui-all-table td.secondary,
.ui-all-table td.secondary a{
  color: var(--white-2);
}
.ui-all-table th.right,
.ui-all-table td.right{
  text-align: right;
}
