.checkbox input{
  display: none;
}
.checkbox{
  background-color: var(--black-5);
  border: 2px solid var(--white-5);
  border-radius: 4px;
  box-shadow: 0px 1px 1px #0000000f;
  height: 20px;
  width: 20px;
  position: relative;
}
.checkbox.checked:not(.disabled):hover{
  background-color: var(--black-5);
  border: 2px solid;
}
.checkbox:active{
  background-color: var(--azure-radiance);
  box-shadow: 0;
}
.checkbox:not(.disabled):hover{
  background-color: var(--azure-radiance);
  border: 0;
}
.checkbox img{
  position: absolute;
  top: -4px;
  left: -5px;
  width: 26px;
  opacity: 0;
}
.checkbox.disabled{
  opacity: .6;
  background-color: var(--white-2);
}
.checkbox.disabled.checked img.state-disabled{
  opacity: 1;
}
.checkbox.disabled.checked img:not(.state-disabled){
  opacity: 0;
}



.checkbox.checked img.state-checked{
  opacity: 1;
}

.checkbox.checked.disabled img.state-disabled{
  opacity: 1;
}
.checkbox.checked.disabled img:not(.state-disabled){
  opacity: 0;
}

.checkbox.checked.indeterminate img.state-indeterminate{
  opacity: 1;
}
.checkbox.checked.indeterminate img.state-checked{
  opacity: 0;
}

